@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(18.18% 0.009 264.33);
  --foreground: oklch(0.9219 0 0);
  --border: oklch(0.3715 0 0);

  --blue-100: oklch(71.03% 0.086 255.95);
  --blue-200: oklch(62.93% 0.196 257.43);
  --blue-300: oklch(51.91% 0.158 257.31);
  --blue-400: oklch(27.82% 0.074 256.71);
  --cyan-100: oklch(86.03% 0.14 204.6);
  --cyan-200: oklch(54.03% 0.086 204.3);
  --cyan-300: oklch(36.54% 0.056 203.8);
  --gray-100: oklch(98.49% 0.003 264.54);
  --gray-200: oklch(87.26% 0.006 264.53);
  --gray-300: oklch(67.57% 0.013 264.48);
  --gray-400: oklch(25.98% 0.016 264.24);
  --gray-500: oklch(20.91% 0.01 268.19);
  --gray-600: oklch(19.98% 0.009 264.36);
  --gray-700: oklch(18.18% 0.009 264.33);
  --gray-800: oklch(15.46% 0.007 270.96);

  --font-sans: PT Sans Caption, sans-serif;
  --font-inter: Inter, sans-serif;

  --radius: 0.5rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);

  --color-blue-100: var(--blue-100);
  --color-blue-200: var(--blue-200);
  --color-blue-300: var(--blue-300);
  --color-blue-400: var(--blue-400);
  --color-cyan-100: var(--cyan-100);
  --color-cyan-200: var(--cyan-200);
  --color-cyan-300: var(--cyan-300);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);

  --font-sans: var(--font-sans);
  --font-inter: var(--font-inter);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground overscroll-none;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }
}

@layer utilities {
  .container {
    @apply px-4 py-8 md:px-8 xl:px-6 mx-auto max-w-7xl;
  }

  .text-heading-hg {
    @apply text-[40px] leading-[120%] font-bold font-sans;
  }

  .text-heading-xl {
    @apply text-[32px] leading-[120%] font-bold font-sans;
  }

  .text-heading-lg {
    @apply text-[28px] leading-[120%] font-bold font-sans;
  }

  .text-heading-md {
    @apply text-2xl leading-[120%] font-bold font-sans;
  }

  .text-heading-sm {
    @apply text-xl leading-[120%] font-bold font-sans;
  }

  .text-heading-xs {
    @apply text-base leading-[120%] font-bold font-sans;
  }

  .text-body-md {
    @apply text-base leading-[150%] font-normal font-inter;
  }

  .text-body-sm {
    @apply text-sm leading-[150%] font-normal font-inter;
  }

  .text-body-xs {
    @apply text-xs leading-[150%] font-normal font-inter;
  }

  .text-body-tag {
    @apply text-xs leading-normal font-medium font-inter;
  }

  .text-action-md {
    @apply text-base leading-normal font-medium font-inter;
  }

  .text-action-sm {
    @apply text-sm leading-normal font-medium font-inter;
  }
}
